# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env

# Node (Vue frontend)
node_modules/
dist/
*.log
frontend/npm-debug.log*
frontend/.env.*

# System
.DS_Store
Thumbs.db

# Arquivos CSV e ZIP gerados
*.csv
*.zip

# IDEs
.vscode/
.idea/

# Bytecode
*.pyc
*.pyo
